{% extends 'event/base.html' %}
{% load static %}
{% block title %}Event Home{% endblock %}

{% block content %}
<nav class="navbar navbar-dark">
    <div class="container-fluid">
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
      </button> -->
  
    <a class="navbar-brand" style="color: black" href="/host/event/home/">
      <img src="{% static "event/media/chevron-left-8x.png" %}" width="30" height="30" alt="logo">
      Go Back
    </a>
    </div>
</nav>
{% load qr_code %}
<br>
<br>
<div class=" h-100 d-flex justify-content-center align-items-center">
    <div>
        <p>{% qr_from_text event size="L" %}</p>
        <div class=" h-100 d-flex justify-content-center align-items-center" >
            {% for code in event_code%}
            <div class="container d-flex justify-content-center align-items-center gradient-border" id = "box">
                    <h1 class="gradienttext"><b><a href ="{{ event }}"> {{code.event_code_short}}</a><b></h1>
            {% endfor %}
        </div>
    </div>
  </div> 

{% comment %} <div class="container-fluidh-100 d-flex justify-content-Left align-items-Left">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="gradienttext"> Scan </h3>
        </div>
        <div class="col-lg-6">
            {% qr_from_text event size="L" %}
        </div>
    </div>
</div>
<div class="container-fluidh-100 d-flex justify-content-Left align-items-Left">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="gradienttext"> Enter Room Code </h3>
        </div>
        <div class="col-lg-6">
            <div class=" h-100 w-60 d-flex justify-content-center align-items-center" >
                    {% for code in event_code%}
                <div class="container gradient-border " id = "box">
                    <h1 class="gradienttext"><b><a href ="{{ event }}"> {{code.event_code_short}}</a><b></h1>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}
<!-- {% qr_from_text "Hello World!" size="m" image_format="png" error_correction="L" %} -->
{% endblock content %}